/*Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    height: 46px;
    background-color: black;
}

#nav, .subnav{
    list-style-type: none; /*bỏ dấu chấm trước list*/
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    display: block;
    /*font-weight: bold;*/
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 34px;
}



#slider{
    
}

#content{

}

#footer{

}
